# webroot
webroot/node_modules
webroot/public/hot
webroot/public/storage
webroot/storage/*.key
webroot/vendor
webroot/.phpunit.result.cache
webroot/Homestead.json
webroot/Homestead.yaml
webroot/npm-debug.log
webroot/yarn-error.log

# docker
docker/phpmyadmin/sessions/*
docker/mariadb/data/*
/.composer

.env
